#calendarBody {
    padding: 1em;
    display: table;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-scrolled {
    background-color: #333; /* add the desired background color */
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

#logOutBtn {
    display: none;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Popins', sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


nav ul li input[type="text"] {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Popins', sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    background-color: #1dd5f100;
    border-radius: 4px;
    border: none;
    width: 100px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

nav ul li input[type="text"]::placeholder {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Popins', sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    background-color: #1dd5f100;
    border-radius: 4px;
    border: none;
    width: 100px;
}

body {
    font-family: 'Roboto', sans-serif; /* or 'Open Sans', 'Montserrat', 'Lato', 'Nunito', 'Raleway', 'Source Sans Pro', 'Ubuntu', etc. */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px; /* add the desired spacing between items */
}

.wrapper {
    width: 450px;
    background: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 0px;
    justify-content: space-between;
}

.wrapper #calendars{
    width: 500px;
}

.event-display {
    padding: 0px 30px 10px;
}

.event-detail-display {
    padding: 0px 30px 10px;
}

.event-detail-display-form {
    padding: 0px 30px 10px;
    display: none;
}

.list-events {
    padding: 0px 30px 10px;
    overflow-y: scroll;
    max-height: 200px;
}

#accountLogin{
    /* display: flex; */
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;
    background: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

.accountLogin header{
    margin-top: 30px
}

.account-content {
    padding: 0px 30px 10px;
    text-align: center;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    text-align: center;
    margin-top: 15px;
}

.calendar table td, th {
    padding-bottom: 20px;
    vertical-align: middle;
}

.activeEventDates{
    background-color: blanchedalmond;
    color: aqua;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px; /* add the desired spacing between items */
}

.calendars-list {
    justify-content: center;
    align-items: left;
    overflow-y: auto;
    max-height: 200px; /* set the maximum height of the list */
}

/* Login */
.create-event {
    display: none;
}

#deleteEventBtn {
    display: none;
}

.search-events {
    overflow-y: scroll;
    max-height: 200px;
}