.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-scrolled {
    background-color: #333; /* add the desired background color */
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Popins', sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

body {
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    height: 100vh;
    overflow: hidden;
}

.wrapper-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper-login h1 {
    text-align: center;
}

.wrapper-login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.text-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    transition: 0.5s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
    top: -5px;
    color: #00c9ff;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before {
    width: 100%;
}

.password {
   margin: -5px 0 20px 5px;
   color: #a6a6a6;
   cursor: pointer;
}

.password:hover {
    text-decoration: underline;
}

input[type="submit"]:hover {
    border-color: #00c9ff;
    transition: 0.5s;
}

.signup-link {
    margin: 30px 0;
    text-align: center;
    color: #666666;
}

.signup-link a{
    color: #00c9ff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}